<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="/pages" >
      <img src="./assets/images/logoRegistraduria.png" alt="" class="registraduria">
      
    </a>
  </div>
  
</div>

<div class="header-container" *ngIf="sesion" >
  <nb-actions size="small">
    <nb-action class="user-action" *nbIsGranted="['view', 'user']" >
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="false"
               [name]="user?.name"
               [picture]="user?.picture">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>

<div class="header-container" *ngIf="!sesion" >
  <a href="/pages/seguridad/login">Log In</a>
</div>
