<div class="col-lg-12">
    <nb-card>
        <nb-card-header *ngIf="modoCreacion">
            CREAR MESA
        </nb-card-header>
        <nb-card-header *ngIf="!modoCreacion">
            ACTUALIZAR MESA
        </nb-card-header>
        <nb-card-body>
            <div class="row">
                <div class="col-3">
                    <label>Numero</label>
                </div>
                <div class="col-9">
                     <input class="form-control" type="text"
                            [disabled]="!modoCreacion"
                            [(ngModel)]="elMesas.numero">
                        <p *ngIf="intentoEnvio && elMesas.numero==''">Requerido</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-3">
                    <label>Cantidad de inscritos</label>
                </div>
                <div class="col-9">
                    <input class="form-control" type="text"
                        [(ngModel)]="elMesas.cantidad_inscritos">
                    <p *ngIf="intentoEnvio && elMesas.cantidad_inscritos==''">Requerido</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-3">
                    <label>Total de votos</label>
                </div>
                <div class="col-9">
                    <input class="form-control" type="text"
                            [(ngModel)]="elMesas.total_votos">
                    <p *ngIf="intentoEnvio && elMesas.total_votos==''">Requerido</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-3">
                    <label>Cantidad votos del ganador</label>
                </div>
                <div class="col-9">
                    <input class="form-control" type="text"
                            [(ngModel)]="elMesas.cant_votos_ganador">
                    <p *ngIf="intentoEnvio && elMesas.cant_votos_ganador==''">Requerido</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-3">
                    <label>Candidato Ganador</label>
                </div>
                <div class="col-9">
                    <select class="form-control" [(ngModel)]="elMesas.id_candidato_ganador">
                        <ng-container *ngFor="let candidatoActual of candidatos">
                            <option value={{candidatoActual._id}}>
                                {{candidatoActual.nombre}} {{candidatoActual.apellido}}
                            </option>
                        </ng-container>
                    </select>
                    
                </div>
            </div>
            <br>


            <div class="row">
                <div class="col-3">
                    <label>Id partido</label>
                </div>
                <div class="col-9">
                    <input class="form-control" type="text"
                            [(ngModel)]="elMesas.id_partido_ganador">
                    <p *ngIf="intentoEnvio && elMesas.id_partido_ganador==''">Requerido</p>
                </div>
            </div>
            <br>
            <div class="row">
                <button *ngIf="modoCreacion" class="btn btn-primary btn-block" (click)="agregar()">
                        Crear
                </button>
                <button *ngIf="!modoCreacion" class="btn btn-primary btn-block" (click)="editar()">
                    Actualizar
                </button>
            </div>
        </nb-card-body>
    </nb-card>
</div>

