<!DOCTYPE html>
<html>
    <head>
        <title> Nosotros</title>
    </head>
    <body>
        <h1 class="titulo">
           Quienes somos? 
        </h1>
        <p class="parrafo nosotros">El Registrador Nacional del Estado Civil es escogido por los Presidentes de la Corte Constitucional, la Corte Suprema y el Consejo de Estado, mediante un concurso de méritos. Tiene un periodo de cuatro años, debe reunir las mismas calidades que se requieren para ser magistrado de la Corte Suprema de Justicia) y no haber ejercido funciones en cargos directivos en partidos o movimientos políticos dentro del año inmediatamente anterior a su elección. Entre las funciones de la Registraduría están las de dirigir y organizar las elecciones, adoptar las políticas de registro civil en Colombia, tener a su cargo la identificación de todos los colombianos y proteger el ejercicio del derecho al sufragio y la identificación de las personas. El Registrador Nacional de Estado Civil, por su parte, tiene de acuerdo con la Constitución, la función de dirigir y organizar las elecciones, el registro civil y la identificación 
            de las personas y las demás que le asigna la ley. (Artículo 266 de la Constitución Política de Colombia).</p>
        <img src="./assets/images/nosotros.jpeg" alt="" class="nosotros">


    
    </body>
</html>