<h3>Resultados:</h3>
<ul>
    <li><b>Cantidad total de mesas:</b> {{cantidad_mesas}}</li>
    <li><b>Candidato Ganador:</b> {{candidato_ganador_full['nombre']}} {{candidato_ganador_full['apellido']}} </li>
    <li><b>Partido Ganador: </b> {{nombre_partido_ganador}} </li>
    <li><b>Votos del candiato Ganador: </b> {{cant_votos_ganador}}</li>
    <li><b>Total votantes inscritos:</b> {{total_votantes_inscritos}}</li>
    <li><b>Votos registrados: </b> {{total_votos}}</li>
    <li><b>Ausencia de votos: </b> {{ausencia_votos}}</li>

</ul>
